*{
    line-height: 1.5em;
    margin: 0%;
    padding: 0%;
}
body{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background: fixed;
    background-image: url(/images/main-background.png);
    background-size: cover;
    background-color: lightgray;
}



/* ............................Home styling................... */

#home{
    
    height: 100vh;
}

.nav-container{
    display: flex;
    width: 100%;

}

.logo-image{
    width: 200px;
    padding: 10px;
    margin: 10px;
}img{
    width: 200px;
}

.navbar{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.navbar a{
    flex: 1;
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'poppins';
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.banner-box{
   max-width: 50%;
   margin: 10px;
   padding: 10px;
   margin-left: 3%;
   margin-top: 5%;
}
.banner-box h1{
    font-size: 45px;
    color: white;
    font-family: 'alkatra';
}
.banner-box span{
    color: #FED049;
}
.banner-box p{
    font-size: 23px;
    font-family: 'inter';
    color: white;
}

/* ..................hamburger nav for Mobile devices............ */
.hamburger{
    position: fixed;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 150px;
    cursor: pointer;
    
    appearance: none;
    background: none;
    outline: none;
    border: none;
    transition: all 1s;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
    border-radius: 5px;
}
.hamburger.hamburger.is-active{
    position: fixed;
    top: 0;
    right: 150px;
}
.hamburger.is-active::before{
    transform: rotate(-45deg) translate(0,15.5px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(0, -15.5px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    display: block;
    position: fixed;
    padding: 5px;
    height: 100vh;
    top: 100px;
    right: -100%;
    z-index: 200;
    transition: all 1s;
}
.mobile-nav nav{
    display: flex;
    flex-direction: column;
}
.mobile-nav.is-active{
    right: 0%;
    background-color: rgba(0, 0, 0,1);
    border-radius: 5px;
}
@media screen and (min-width: 800px) {
    .hamburger, .mobile-nav{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .nav-container .navbar{
        display: none;
    }
    .nav-container{
        justify-content: flex-start;
    }
}

/* ......................Home page styling ends........................ */

/* ......................Styling for the About Us section............... */
#aboutUs{
    /* height: 100vh; */
    background-color: whitesmoke;
    box-shadow: 0 0 10px black;
}


.aboutUs-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

.content{
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
}

@media screen and (max-width : 1120){
    .content{
        height : auto;
    }
}


.content{
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}.content h3{
    font-family: 'Alkatra';
    font-weight: 700;
    font-size: 45px;
    color:#1B6B93;
}.content p{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 21px;
    color:black;
    /* background-color: rgba(7, 100, 171, 0.269); */
    padding: 30px;
    border-radius: 5px;
    /* box-shadow: 0 0 35px rgb(119, 136, 153); */
    /* box-shadow: 0 0 60px rgb(49, 49, 49); */
}

.content h3, .content p{
    /* padding: 5px; */
    margin: 5px;
    text-align: left;
}

.seperation{
    width: 50%;
    border: 3px solid gray;
    border-radius: 5px;
}

.content h3{
    padding-left: 30px;
}
@media screen and (max-width:1215px) {
    .content{
        width: 100%;
        margin: 10px;
    }

    .content h3, .content p{
        margin: 10px;
        padding: 10px;
    }

    .content p{
        font-size: 18px;
        text-align: justify;
    }
}

/* ....................Events Styling.................... */


#events{
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
}

.event-container{
    background-color:#1B6B93;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.event-container .event{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    /* box-shadow: 0 0 25px black; */
    margin: 30px 0;
}


.event-image, .event-text{
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 5px;
}



.event-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 10px;
}

.event-text h3::before{
    content: '';
    margin-right: 15px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 100px;
}
.event-text h3{
    font-size: 35px;
    font-family: 'alkatra';
    padding: 5px 45px;
    color: #A2FF86;
    margin: 10px 5px;
}

.event-text p{
    font-size: 20px;
    font-family: 'poppins';
    padding: 5px 45px;
    color: whitesmoke;
}

@media screen and (max-width: 1400px) {
    .event-text h3, .event-text p{
        padding: 10px;
    }
    #event{
        height: auto;
    }
}

@media screen and (max-width:1215px) {
    #event{
        height: auto;
    }
    .event-container{
        height: auto;
    }
    .event{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .event:nth-last-of-type(2n+1){
        flex-direction: column-reverse;
    }
    .event-image, .event-text{
        height: 40vh;
        width: 90vw;
    }
}

@media screen and (max-width: 560px) {
    .event-container{
        justify-content: center;
    }
    .event-image, .event-text{
        width: 90vw;
        height: 40vh;
    }
    .event-text{
        justify-content: flex-start;
        height: auto;
    }
    .event-text h3{
        font-size: 25px;
    }
    .event-text p{
        font-size: 15px;
    }
}


/* .................Implementations Styling............... */


#implementations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.4);
}

#implementations h2{
    font-size: 50px;
    font-family: 'alkatra';
    margin: 5px 50px;
    padding: 10px 30px;
    color: white;
}
  
.imp-container{
    display: flex;
    align-items: center;
    height: 85vh;
    overflow-x: scroll;
    padding: 10px 30px;
  }
  
  
.impBox{
    display: flex;
    align-items: center;
    background-color:#0B8CB0;
    height: 95%;
    width: 40vw;
    margin: 20px 45px;
    /* border: 10px solid black; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.374);
    border-radius: 5px;
    padding: 5px;
  }
  
  
.imp-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    height: 100%;
    width: 40vw;
    padding: 10px;
}

.imp-content h3{
    font-size: 35px;
    font-family: 'Alkatra';
    color: #A2FF86;
    padding: 10px;
    margin: 5px;
}

.imp-content img{
    max-height: 45%;
    width: auto;
    max-width: 90%;
    margin: 5px;
    border-radius: 5px;
    aspect-ratio:preserve;
}

.imp-content p{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'poppins';
    color: whitesmoke;
    height: 45%;
    margin: 5px;
    padding: 10px;
}


  
                       /* ......................Scroll bar Styling................ */
  
  .imp-container::-webkit-scrollbar{
    height: 10px;
  }
  
  .imp-container::-webkit-scrollbar-track-piece{
    background-color: gray;
    border-radius: 10px;
    margin: 500px;
    
  }
  
  .imp-container::-webkit-scrollbar-track{
    /* background-color: rgba(0, 0, 0,1); */
    /* opacity: 0; */
    border-radius: 10px;
  }
  
  .imp-container::-webkit-scrollbar-thumb{
    background-color:#0B8CB0;
    border-radius: 10px;
  }
  
  
  .imp-container::-webkit-scrollbar-button{
    background-color: white;
    width: 0px;
  }


@media screen and (max-width: 1215px) {
    .imp-container::-webkit-scrollbar-track-piece{
        margin: 250px;
    }

    .impBox{
        width: 60vw;
        margin: 10px 25px;
      }
      
      
    .imp-content{
        width: 60vw;
        padding: 10px;
    }

    .imp-content p{
        font-size: 15px;
        height: 45%;
        margin: 5px;
        padding: 10px;
    }
}

@media screen and (max-width: 770px) {
    .imp-container::-webkit-scrollbar-track-piece{
        margin: 100px;
    }

    .impBox, .imp-content{
        width: 80vw;
      }    
}

@media screen and (max-width: 500px) {
    
    .imp-container::-webkit-scrollbar-track-piece{
        margin: 50px;
    }
    #implemetations{
        height: auto;
    }
    #implementations h2{
        font-size: 35px;
    }
    .imp-container{
        height: 100vh;
        margin: 5px;
    }

    .impBox, .imp-content{
        width: 95vw;
        margin: 5px 5px;
    }    
    .imp-content h3{
        font-size: 22px;
    }
    .imp-content p{
        font-size: 15px;
        height: 50%;
    }
    
}


/* .................Policy Styling.......................... */

#policy{
    height: 100vh;
    background-color: #0B8CB0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}

.policy-text, .policy-image{
    height: 100%;
    width: 50%;
}

.policy-text, .collab-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px ;
    padding: 10px;
}
.policy-text h2, .collab-text h2{
    font-size: 45px;
    color: #A2FF86;
    font-family: 'alkatra';
    padding: 10px;
}.policy-text h2::before, .collab-text h2::before{
    content: '';
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0 20px;
}
.policy-text h3, .collab-text h3{
    font-size: 25px;
    font-family: 'Open sans';
    padding: 10px;
    color: white;
}
.policy-text p, .collab-text p{
    text-align: center;
    font-size: 20px;
    font-family: 'poppins';
    padding: 10px;
    color: whitesmoke;
}


.policy-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 5px solid black; */
    /* border-radius: 5px; */
}

@media screen and (max-width: 1215px) {
    #policy{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .policy-image{
        height: 45vh;
        width: 100%;
        margin: 10px;
    }
    .policy-text{
        width: 95vw;
        height: 45vh;
    }
    .policy-text h2, .policy-text h3, .policy-text p{
        text-align:justify;
    }
}


/* ...................Collaborations Styling.................... */

#collaborations{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:#0B8CB0;
}
.collab-image, .collab-text{
    height: 100%;
    width: 50%;
}

.collab-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.collab-text p{
    height: 100px;
    text-align: justify;
    overflow: hidden;
    border-bottom: 3px solid black;
    transition: all 1s;
}

.collab-text p:hover{
    height: 70vh;
}

@media screen and (max-width : 1215px) {
    #collaborations{
        height: auto;
        flex-direction: column;
    }
    .collab-image{
        height: 40vh;
        width: 50vw;
    }
    .collab-text{
        width: 95vw;
    }
    .collab-text p:hover{
        height: 65vh;
    }
}

@media screen and (max-width: 560px) {

    .collab-image{
        margin: 10px;
        height: 25vh;
        width: 90vw;
    }

    .collab-text p{
        font-size: 15px;
    }
    .collab-text p:hover{
        height: 55vh;
    }
}


/* ....................Our Team Styling........................... */

#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color:#279EFF;
}

#team h2{
    font-size: 45px;
    font-family: 'alkatra';
    margin: 10px;
    padding: 10px;
    color: white;
}

#team p{
    font-size: 18px;
    font-family: 'poppins';
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
}

.profile-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 350px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

.profile-box img{
    height: 210px;
    width: 210px;
    border-radius: 105px;
}

.profile-box h3{
    font-size: 25px;
    font-family: 'poppins';
    margin: 5px;
    padding: 5px;
}

.profile-box p{
    font-size: 20px;
    font-family: 'poppins';
    text-align: center;
    margin: 0px;
    padding: 0px;
}



/* ........................footer.................... */

footer{
    height: 40vh;
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: whitesmoke;
}

.contact-content{
    width: 80%;
}
.contact-content h2{
    font-family: 'alkatra';
    font-size: 45px;
    text-align: center;
}

.contact-content li{
    font-size: 20px;
    font-family: 'poppins';
    padding: 10px;
    line-height: 2rem;
}
.contact-content li:nth-of-type(1){
    border-bottom: 2px solid lightgray;
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    background-color: rgb(52, 52, 52);
}

.links-content{
    color: white;
    font-size: 20px;
    font-family: 'poppins';
    padding: 10px;
}

.links-content p{
    padding: 10px;
}

.links-content a img{
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 5px;
}



/* ..............Animations CSS................. */

.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-25%);
    transition: all 1s 200ms;
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



@media screen and (max-width: 1260px) {

    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        height: auto;
        /* border-bottom:1px solid black; */
    }

    .banner-box{
        max-width: fit-content;
        border-top: 1px solid black;
    }
    #aboutUs, .content{
        height: auto;
    }   
}


/* 
*{
    background-color: white;
} */
