body{
    background-image: url(img/Let.png);
    background-size: cover;
    background-attachment: fixed;
}


/* .............Events Styling............. */

#events{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(255, 255, 255); */
    padding: 10px;
}

#events h2{
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.eventContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.eventBox{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    /* background-color: rgba(144,238,144,0.7);   */
    /* background-color: rgba(255,255, 255, 0.6); */
    background-color: rgba(31, 69, 112, 0.95);
    width: 425px;
    height: 600px;
    margin: 25px 10px;
    padding: 10px;
    /* border: 5px solid white; */
    border-radius: 5px;
    /* box-shadow: 0 0 10px black; */
    transition: all 0.5s;
} 

.eventBox h3{
    font-size: 25px;
    text-align: center;
    color: white;
    /* color: rgb(35, 35, 72); */
    /* text-shadow: 0px 0px 1px black; */
}

.eventBox p{
    font-size: 16px;
    text-align: justify;
    font-family: 'inter',sans-serif;
    font-weight: 500;
    color: lightgray;
}

.eventBox img{
    height: 250px;
    max-width: 300px;
    margin: 5px;
    border-radius: 5px;
}


/* .............Implementations Styling............. */
#implementations{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(31, 69, 112, 0.95);
    padding: 10px;
    /* border-top: 5px solid black; */
}

#implementations h2{
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.impContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.impBox{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    /* background-color:rgba(99, 96, 96, 0.6); */  
    background-color: rgba(211,211,211, 0.8);
    /* background-color: rgba(31, 69, 112, 0.97); */
    width: 425px;
    height: 550px;
    margin: 25px 10px;
    padding: 10px;
    /* border: 5px solid white; */
    border-radius: 5px;
    box-shadow: 0 0 7px black;
    transition: all 0.5s;
} .impBox:hover{
    transform: scale(1.05);
}

.impBox h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(35, 35, 72);
    /* color: white; */
    border-bottom: 2px solid rgba(0,0,0, 0.4);
    /* text-shadow: 0px 0px 1px black; */
}

.impBox p{
    font-size: 16px;
    padding: 5px;
    text-align: justify;
    font-family: 'inter',sans-serif;
    font-weight: 500;
    color: black;
}

.impBox img{
    height: 250px;
    max-width: 300px;
    margin: 5px;
    border-radius: 3px;
}



/* .................Policies and Sponsors Styling............*/

#policy{
    height: 100vh;
    /* background-color: rgba(32, 178,170, 0.5); */
    /* background-color: rgba(99, 96, 96, 0.6); */
}

.policy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.policyText{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.policy h2{
    font-size: 35px;
    font-weight: 800;
    color: white;
    margin: 5px;
    padding: 5px;
}

.policy h3{
    font-size: 25px;
    color: lightgray;
    margin: 5px;
    padding: 5px;
}

.policy p{
    font-size: larger;
    margin: 5px;
    padding: 5px;
    font-family: 'inter', sans-serif;
    color: black;
    font-weight: 500;
}


.policyImage img{
    width: 50vw;
    margin: 10px;
    padding: 10px;
}



/* ...............Sponsors Styling............ */


#sponsors h2{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: white;
    margin: 5px;
    padding: 5px;
}

.sponsors{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.sponsorsTop{
    display: flex;
}

.sponsorLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 49vw;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    /* background-color: aquamarine; */
    background-color: rgba(31, 69, 112, 0.97);
    color: lightgray;
}

.sponsorLeft div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sponsorLeft h3{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 5px;
    padding: 5px;
    border-bottom: 3px solid rgba(0,0,0, 0.4);
}
.sponsorLeft p{
    font-size: 17px;
    margin: 5px;
    padding: 5px;
    font-family: 'inter', sans-serif;
}

.sponsorLeft img{
    width: 250px;
}

.sponsorRight{
    display: flex;
    flex-direction: column;
    width: 49vw;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    /* background-color: lightskyblue; */
    background-color: rgba(31, 69, 112, 0.97);
    color: lightgray;
}

.sponsorRight div{
    margin: 5px;
    padding: 5px;
}

.sponsorRight h4{
    font-size: 21px;
    color: white;
    border-bottom: 2px solid rgba(0,0,0,0.4);
}

.sponsorRight p{
    
    font-family: 'inter', sans-serif;
    font-size: 17px;
}


.sponsorBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px; 
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    /* background-color: lightcoral; */
    background-color: rgba(31, 69, 112, 0.97);
}
.sponsorBottom p{
    margin: 5px;
    padding: 5px;
    color: lightgray;
    font-family: 'inter', sans-serif;
}






/* ................For Sticky effect............... */


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(0,0,0, 0.75);
    transition: all 0s;
}

