*{
    line-height: 1.5em;
    margin: 0%;
    padding: 0%;
}


.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0F2139;
}

.loader img{
    height: 250px;
    width: 250px;
    margin: 0;
}



body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url(../images/main-background.png) ;
    background-size: cover;
}

.body-content{
    display: none;
}



/* .....Logo Blue  -  #76B9F0   rgb(118, 185, 240) */
/* .....Logo Green -  #9DCD5A   rgb(157, 205, 90)  */



/* ............................Home styling................... */

#home{
    height: 100vh;
}

.nav-container{
    display: flex;
    width: 100%;

}

.logo-image{
    margin: 10px;
}img{
    width: 135px;
    height: 135px;
    padding: 10px;
    margin-left: 15px;
}

.navbar{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.navbar a{
    /* flex: 1; */
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'poppins';
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.banner-box{
   max-width: 50%;
   margin: 10px;
   padding: 10px;
   margin-left: 5%;
   margin-top: 5%;
}
.banner-box h1{
    height: 85px;
    width: 500px;
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family: 'poppins';
    border-bottom: 3px solid white;
    margin: 20px 0;
    overflow: hidden;

    animation-name: headerAnimate;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.banner-box span{
    color: #FED049;
}
.banner-box p{
    font-size: 17px;
    font-family: 'inter';
   
    color: white;
    transition-delay: 1.5s;
}


@media screen and (max-width: 550px) {
    .banner-box h1{
        width: auto;
        height: auto;
        font-size: 40px;
    }
}

/* ..................hamburger nav for Mobile devices............ */
.hamburger{
    position: fixed;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 150px;
    cursor: pointer;
    
    appearance: none;
    background: none;
    outline: none;
    border: none;
    transition: all 1s;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
    border-radius: 5px;
}
.hamburger.hamburger.is-active{
    position: fixed;
    top: 0;
    right: 150px;
}
.hamburger.is-active::before{
    transform: rotate(-45deg) translate(0,15.5px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(0, -15.5px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    display: block;
    position: fixed;
    padding: 5px;
    height: 100vh;
    top: 100px;
    right: -100%;
    z-index: 200;
    transition: all 1s;
}
.mobile-nav nav{
    display: flex;
    flex-direction: column;
}
.mobile-nav.is-active{
    right: 0%;
    background-color: rgba(0, 0, 0,1);
    border-radius: 5px;
}
@media screen and (min-width: 800px) {
    .hamburger, .mobile-nav{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .nav-container .navbar{
        display: none;
    }
    .nav-container{
        justify-content: flex-start;
    }
}



@keyframes headerAnimate {
    from{
        width: 0;
        height: 0;
    }

    50%{
        width: 500px;
        height: 0;
    }

    to{
        width: 500px;
        height: 85px;
    }
    
}

/* ......................Home page styling ends........................ */


/* ................New Styling For About US............ */

#aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgba(15, 33, 57, 0.7); */
    /* box-shadow: 0 0 10px black; */
}

.aboutUsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* height: 60%; */
    width: 100%;
    color: #0F2139;
}


.aboutUsContent h2{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 400px;

    font-size: 45px;
    font-family: 'poppins';
    font-weight: 700;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.aboutUsContent h2::before{
    content: '';
    height: 70px;
    border: 5px solid white;
    border-radius: 4px;
    margin: 40px;
}



.aboutUsContent p{
    text-align: justify;
    width: 60%;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    border-bottom: 5px solid #4BC200;
    border-radius: 5px;
}

@media screen and (max-width: 1100px ) {
    .aboutUsContent p{
        width: 90%;
    }
}

/* ..............Animation for About Us Header............... */
/* 
.headerAnimate-hide{    
    transform: translate(-100%);
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.headerAnimate-appear{
    transform: translate(0);
}
 */



/* ...............Cell Info Styling................ */


.cellInfo{
    height: 100vh;
    width: 100%;
    background-color: #DFEFFB;
}


.content-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 33%;
    width: 100%;
}

.content-box h3{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #0F2139;
    margin: 10px;
    padding: 5px;
}

.content-box h3::before{
    content: '';
    height: 60px ;
    border: 4px solid #0F2139;
    border-radius: 4px;
    margin: 10px;
    margin-right: 30px;
}

.content-box p{
    text-align: justify;
    width: 60%;
    font-family: 'inter';
    font-size: 16px;
    color: #0F2139;
    margin: 10px;
    padding: 10px;
    border-bottom: 5px solid #0F2139;
    border-radius: 5px;
}

.areaOfResp{
    flex-direction: row-reverse;
}

@media screen and (max-width: 1100px) {
    .cellInfo{
        height: auto;
    }
    .content-box{
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .content-box p{
        width: 80%;
    }
}


/* ....................Events Styling.................... */


#events{
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
}

.event-container{
    background-color:#0f2139;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.event-container .event{
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    /* box-shadow: 0 0 25px black; */
    margin: 30px 0;
}


.event-image, .event-text{
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 5px;
}



.event-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 10px;
    
}

.event-text h3::before{
    content: '';
    margin-right: 15px;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 100px;
}
.event-text h3{
    font-size: 25px;
    font-family: 'poppins';
    padding: 5px 45px;
    color: #A2FF86;
    margin: 10px 5px;
}

.event-text p{
    font-size: 16px;
    font-family: 'inter';
    padding: 5px 45px;
    color: whitesmoke;
    /* border-bottom: 3px solid white;
    border-radius: 3px; */
}

@media screen and (max-width: 1400px) {
    .event-text h3, .event-text p{
        padding: 10px;
    }
    #event{
        height: auto;
    }
}

@media screen and (max-width:1215px) {
    #event{
        height: auto;
    }
    .event-container{
        height: auto;
    }
    .event{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .event:nth-last-of-type(2n+1){
        flex-direction: column-reverse;
    }
    .event-image, .event-text{
        height: 40vh;
        width: 90vw;
    }
}

@media screen and (max-width: 560px) {
    .event-container{
        justify-content: center;
    }
    .event-image, .event-text{
        width: 90vw;
        height: 40vh;
    }
    .event-text{
        justify-content: flex-start;
        height: auto;
    }
    .event-text h3{
        font-size: 25px;
    }
    .event-text p{
        font-size: 15px;
    }
}


/* .................Implementations Styling............... */
#implementation{
    height: 100vh;
    background-color: aqua;
}

.imp-container{
    height: 92vh;
    display: flex;
    overflow-x:scroll;
    background-color: white;
}

.impH2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-width: 100vw;
    background-color: white;
}

.impH2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #0F2139;
    padding: 10px;
}
.impH2 h2::before{
    content: '';
    height: 80px;
    border: 4px solid #0F2139;
    border-radius: 5px;
    margin:20px;
}

.impH2 img{
    height: 100px;
    margin: 20px;
}

.impBox{
    height: 90vh;
    background-color: white;

}


.imp-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 50vw;
    text-align: center;
}


.imp-content h3{
    font-size: 20px;
    font-family: 'poppins';
    color: #0F2139;
    font-weight: 500;
    border-bottom: 3px solid #0F2139;
    padding: 10px;
    margin: 10px;
}

.imp-content img{
    width: 75%;
    max-height: 45vh;
    flex: 1;
    border-radius: 5px;
}

.imp-content p{
    text-align: justify;
    padding: 10px;
    margin: 10px;
    width: 80%;
    font-size: 16px;
    font-family: 'inter';
    color: #0F2139;
}

.impBox:nth-child(2n){
    background-color: #0F2139;
}.impBox:nth-child(2n) .imp-content h3, .impBox:nth-child(2n) .imp-content p{
    color: white;
}.impBox:nth-child(2n) .imp-content h3{
    border-bottom: 3px solid white;
}
    



                     /* ......................Scroll bar Styling................ */

   .imp-container::-webkit-scrollbar{
   height: 15px;
}
                      
 .imp-container::-webkit-scrollbar-track-piece{
   background-color: lightgray;
   border-radius: 10px;
   border: 5px solid #0F2139;
   margin: 400px;
                       
}
                      
 .imp-container::-webkit-scrollbar-track{
   border-radius: 10px;
 }
  
 .imp-container::-webkit-scrollbar-thumb{
  background-color:#0f2139;
  border-radius: 10px;
 }
                      
                      
.imp-container::-webkit-scrollbar-button{
  background-color: white;
  width: 0px;
}
              


@media screen and (max-width: 1215px) {
    .imp-container::-webkit-scrollbar-track-piece{
        margin: 250px;
    }

    .impBox{
        width: 60vw;
        margin: 10px 25px;
      }
      
      
    .imp-content{
        width: 60vw;
        padding: 10px;
    }

    .imp-content p{
        font-size: 15px;
        height: 45%;
        margin: 5px;
        padding: 10px;
    }
}

@media screen and (max-width: 770px) {
    .imp-container::-webkit-scrollbar-track-piece{
        margin: 100px;
    }

    .impBox, .imp-content{
        width: 80vw;
      }    
}

@media screen and (max-width: 500px) {
    
    .imp-container::-webkit-scrollbar-track-piece{
        margin: 50px;
    }
    #implemetations{
        height: auto;
    }
    #implementations h2{
        font-size: 35px;
    }
    .imp-container{
        height: 100vh;
        margin: 5px;
    }

    .impBox, .imp-content{
        width: 95vw;
        margin: 5px 5px;
    }    
    .imp-content h3{
        font-size: 22px;
    }
    .imp-content p{
        font-size: 15px;
        height: 50%;
    }
    
}





/* .................Policy Styling.......................... */

#policy{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.policy-text, .policy-image{
    height: 100%;
    width: 50%;
}

.policy-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F2139;
}
.policy-text h2{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: 'poppins';
    margin: 10px;
    padding: 10px;

}
.policy-text h2::before{
    content: '';
    height: 80px;
    border: 4px solid white;
    border-radius: 4px;
    margin: 30px;
}
.policy-text h3{
    color: white;
    font-size: 20px;
    font-family: 'inter';
    margin: 5px ;
    padding: 5px;
}
.policy-text p{
    color: white;
    font-family: 'inter';
    font-size: 16px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}


.policy-image{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0F2139;
}

@media screen and (max-width: 1215px) {
    #policy{
        height: auto;
        background-color: #0F2139;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        padding: 30px;
    }
    .policy-image, .policy-text{
        min-height: 400px;
        width: 100%;
    }
}



/* ...................Collaborations Styling.................... */

#collaborations{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: white;
}

.collab h2{
    font-family: 'poppins';
    font-size: 35px;
    font-weight: 700;
    color: #0F2139;
    padding: 10px;
}
.collab h2::before{
    content: '';
    height: 100px;
    border: 4px solid #0F2139;
    border-radius: 4px;
    margin: 20px;
}

.collab hr{
    width: 50%;
}
.collab-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collab-head, .collab-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 50%;
}
.collab-image{
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 300px;
    /* border: 5px solid black; */
}

.collab-head h3{
    font-size: 30px;
    font-family: 'Poppins';
    color: #0F2139;
}

.collab-text p{
    width: 90%;
    font-size: 16px;
    color: #0F2139;
    font-family: 'inter';
    text-align: justify;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid #0F2139;
}
br{
    color: black;
    height: 100px;
}

@media screen and (max-width : 1215px) {
    #collaborations{
        height: auto;
        flex-direction: column;
        padding: 20px;
    }
}

@media screen and (max-width : 1100px) {
    .collab-content{
        flex-direction: column;
    }
    .collab-head{
        width: 100%;
        flex-direction: row;
        text-align: center;
    }
    .collab-text{
        width: 100%;
    }
}

@media screen and (max-width: 560px) {

    .collab-image{
        margin: 10px;
        height: 25vh;
        width: 90vw;
    }

    .collab-text p{
        font-size: 15px;
    }
    .collab-text p:hover{
        height: 55vh;
    }
}


/* ....................Our Team Styling........................... */

#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color:#0F2139;
}

#team h2{
    font-size: 35px;
    font-family: 'poppins';
    margin: 10px;
    padding: 10px;
    color: white;
}
#team h2::before{
    content: '';
    height: 80px;
    border: 4px solid white;
    border-radius: 4px;
    margin: 20px;

}
#team hr{
    color: white;
    width: 50%;
}

.teamInfoText{
    font-size: 16px;
    font-family: 'poppins';
    margin: 10px;
    padding: 10px;
    text-align: justify;
    max-width: 75%;
    color: white;
}

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 10px;
}

.profile-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 375px;
    width: 300px;
    background-color: white;
    margin: 30px;
    border-radius: 5px;
}

.profile-box img{
    height: 200px;
    width: 200px;
    border-radius: 105px;
}

.profile-box h3{
    font-size: 20px;
    font-family: 'poppins';
    margin: 5px;
    padding: 5px;
}

.profile-box p{
    font-size: 16px;
    font-family: 'poppins';
    text-align: center;
    margin: 0px;
    padding: 10px;
}



/* ........................footer.................... */


.contact-container{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: whitesmoke;
}

.contact-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.contact-content h2{
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /* color: #ff9d00; */
    color: #0F2139;
}
.contact-content h2::before{
    content: '';
    height: 100px;
    border: 4px solid #0F2139;
    border-radius: 4px;
    margin: 20px;
}

.contact-content p{
    font-size: 18px;
    font-family: 'inter';
    padding: 10px;
    margin: 10px;
    line-height: 2rem;
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    background-color: rgb(52, 52, 52);
}

.links-content{
    color: white;
    font-size: 16px;
    font-family: 'poppins';
    padding: 10px;
}

.links-content p{
    padding: 10px;
}

.links-content a img{
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}



@media screen and (max-width: 550px) {
    .contact-content{
        flex-direction: column;
    }
}



/* ..............Animations CSS................. */


.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-25%);
    transition: all 0.8s 0ms;
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* @keyframes sideAnimate{
    from{
        transform:translate(-100%);
    }

    to{
        transform: translate(0);
    }
} */



@media screen and (max-width: 1260px) {

    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar{
        height: auto;
        /* border-bottom:1px solid black; */
    }

    .banner-box{
        max-width: fit-content;
        border-top: 1px solid black;
    }
    .content{
        height: auto;
    }   
}

